/* =========== Smaller Than Medium Device ============*/
@media screen and (max-width: 1000px) {
  .header-container {
    padding: 0 30px 0 30px;
  }

  .search-form {
    position: absolute;
    z-index: 99999999;
    top: 55px;
    opacity: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    transform: scale(0.9);
  }

  .search-form input {
    width: 100%;
  }

  .btn-search-show {
    display: block;
  }

  .navbar-nav {
    left: -500px;
  }

  .btn-sidebar-toogle {
    display: block;
  }

  main {
    padding-left: 0;
  }

  .noti-wrap {
    margin: 0;
  }

  .navbar-brand {
    padding: 28px 12px 25px 55px;
  }
}

/* =========== Only Medium Device ============*/
@media (min-width: 768px) and (max-width: 1000px) {
}

@media screen and (max-width: 768px) and (min-width: 490px) {
  .js-noti-mail:before,
  .js-noti-message:before {
    left: 143px;
  }

  .js-noti-alert:before {
    left: 145px;
  }
}

/* ==========Smaller than small device ======================*/
@media screen and (max-width: 490px) {
  .account-content {
    display: none;
  }

  .profile-menu {
    top: 75px;
  }

  .profile-menu::before {
    left: 170px;
  }
}

/*==================Only small device========*/
@media (max-width: 490px) and (min-width: 341px) {
  .js-noti-message {
    right: -128px;
  }

  .js-noti-mail:before {
    left: 189px;
  }

  .js-noti-mail {
    right: -81px;
  }

  .js-noti-alert {
    right: -45px;
  }

  .js-noti-alert:before {
    left: 226px;
  }
}

/* ==========Only smaller device */
@media screen and (max-width: 340px) {
  .js-noti-message {
    right: -158px;
  }

  .js-noti-message:before {
    left: 114px;
  }

  .js-noti-mail:before {
    left: 155px;
  }

  .js-noti-mail {
    right: -116px;
  }

  .js-noti-alert {
    right: -80px;
  }

  .js-noti-alert:before {
    left: 193px;
  }
}
