@import "font-face.css";
@import "variables.css";

:root {
  --primary-color: #4272d7;
  --primary-color-hard: #193f91;
  --primary-color-light: #5184f1;

  --primary-color-alt: #fff;
  --primary-color-alt-hard: #f5f0f0;
  --secondery-color: #333;
  --title-color: #413e3e;
  --secondery-color-light: #a9b3c9;
  --secondery-color-alt: #fff;

  --biggest-font-size: 2.4rem;
  --bigger-font-size: 2.2rem;
  --big-font-size: 1.5rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.9rem;
  --smallest-font-size: 0.7rem;

  --font-extra-bold: 900;
  --font-bold: 700;
  --font-semi-bold: 400;

  --transition: all 0.5s cubic-bezier(1, 0.18, 0.02, 0.87);

  --main-shadow: 0 0 5px 0px rgb(0, 0, 0, 0.2);

  --sidebar-width: 200px;
  --header-height: 70px;
}

body {
  margin: 0;
  font-family: "Poppins";
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
  background-color: var(--primary-color-alt-hard);
}

::selection {
  background: var(--primary-color);
  color: var(--primary-color-alt);
}

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

@media (min-width: 426px) and (max-width: 777px) {
  :root {
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.7rem;
    --big-font-size: 1.2rem;
    --small-font-size: 1rem;
    --smaller-font-size: 0.9rem;
  }
}

@media screen and (max-width: 425px) {
  :root {
    --biggest-font-size: 1.5rem;
    --bigger-font-size: 1.4rem;
    --big-font-size: 1rem;
    --small-font-size: 0.9rem;
    --smaller-font-size: 0.8rem;
  }
}

.body-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  background: #3333339c;
  z-index: 9999;
}

.body-overlay.overlay-show {
  visibility: visible;
}

/* ===================== Nav bar ============== */
.navbar-nav {
  width: var(--sidebar-width);
  position: fixed;
  background: var(--secondery-color-alt);
  left: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
  z-index: 9999;
}

.navbar-brand {
  background-color: var(--secondery-color-alt);
  height: var(--header-height);
  padding: 25px;
}

.navbar-link-wrapper {
  position: relative;
  padding: 20px 20px;
  height: calc(100vh - 75px);
}

.navbar-item {
  padding: 10px;
}

.navbar-item a {
  color: var(--secondery-color);
}

.navbar-item a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.navbar-show {
  left: 0 !important;
}

/* ===================== Main ============== */
main {
  padding-left: var(--sidebar-width);
}

/* ===================== Header ============== */
header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-container {
  height: var(--header-height);
  padding: 0 30px 0 calc(var(--sidebar-width) + 30px);
  background: var(--primary-color-alt-hard);
}

.search-form {
  position: relative;
}

.search-form input {
  width: 400px;
}

.search-form input::placeholder {
  color: var(--secondery-color-light);
  font-size: var(--smaller-font-size);
}

.search-form button {
  padding: 0 20px;
  position: absolute;
  top: 0;
  right: 0;
  height: 37px;
}

.search-form button i {
  font-size: 20px;
  color: var(--primary-color-alt);
}

.header-button {
  position: absolute;
  right: 0;
}

.btn-search-show {
  display: none;
  font-size: 15px;
  color: var(--title-color);
}

.btn-sidebar-toogle {
  color: var(--title-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 99999999;
  position: absolute;
  display: none;
  left: 8px;
  top: 15px;
}

.noti-wrap {
  margin: 0 10px;
  position: relative;
}

.noti-wrap button {
  position: relative;
}

.noti-wrap button i {
  color: var(--secondery-color-light);
  font-size: var(--big-font-size);
}

.noti_quantity {
  position: absolute;
  top: -1px;
  right: 6px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  background: var(--primary-color);
  color: var(--primary-color-alt);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  font-size: 12px;
}

.noti-details {
  position: absolute;
  z-index: 999999;
  width: 300px;
  right: -125px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
}

.noti-details:before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  border-bottom: 9px solid #fff;
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top: -17px;
  left: 141px;
  z-index: 3;
}

.noti-details {
  background: var(--primary-color-alt);
}

.noti-details .noti-header {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.noti-details button {
  width: 100%;
  background: transparent;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--title-color);
}

.noti-message {
  cursor: pointer;
  padding: 10px;
  color: var(--title-color);
  margin-bottom: 10px;
}

.noti-message:hover {
  background-color: var(--primary-color-alt-hard);
  color: var(--title-color);
  text-decoration: none;
}

.noti-img {
  width: 50px;
  height: 50px;
}

.noti-msg-container {
  max-height: 300px;
  overflow-y: auto;
}

.noti-img img {
  border-radius: 50%;
}

.noti-content .noti-title {
  font-size: var(--small-font-size);
  margin-bottom: 3px;
}

.noti-content .noti-text {
  font-size: var(--smaller-font-size);
  margin-bottom: -2px;
}

.noti-content .noti-time {
  font-size: var(--smallest-font-size);
  color: var(--title-color);
  margin-bottom: -2px;
  font-weight: 500;
}

.noti-more {
  background: transparent;
}

.noti-more button {
  background: transparent;
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.account-img-wrap {
  width: 50px;
}

.account-img-wrap img {
  border-radius: 2px;
}

.account-content {
  font-size: var(--small-font-size);
}

.account-content i {
  position: absolute;
  top: 4px;
  right: -11px;
}

.account-name {
  position: relative;
}

.profile-menu {
  position: absolute;
  z-index: 999999;
  right: 25px;
  top: 60px;
  background: var(--primary-color-alt);
  opacity: 0;
  transform: scale(0.9);
  visibility: hidden;
}

.profile-menu::before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  border-bottom: 9px solid #fff;
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top: -17px;
  left: 170px;
  z-index: 3;
}

.profile-menu-container {
  padding: 10px 0;
  width: 200px;
}

.profile-menu-container .noti-message {
  padding: 5px 20px;
  margin-bottom: 0px;
}

/* ===================== Main Content ============== */
.main-content {
  padding: calc(var(--header-height) + 40px) 20px 40px 20px;
}

.page-title {
  font-size: var(--big-font-size);
  color: var(--title-color);
}

.overview-item {
  border-radius: 5px;
  padding: 10px;
  background: var(--secondery-color-alt);
  border-left: 4px solid var(--primary-color);
}

.overview-item .icon i {
  font-size: var(--big-font-size);
  margin: 10px 0;
  color: var(--secondery-color);
}

.overview-item .title {
  font-size: var(--big-font-size);
  font-weight: 500;
  color: var(--title-color);
}

.overview-item .text {
  font-size: var(--small-font-size);
  font-weight: 500;
}

.au-card {
  border-radius: 5px;
  border: none;
}

.au-card-inner {
  padding: 30px;
}

.au-card-title {
  font-size: var(--big-font-size);
  color: var(--title-color);
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
/* ===================== Table Earning ============== */
.table-earning-container {
  width: 100%;
  overflow-x: auto;
}

.table-earning {
  margin-bottom: 0;
}

.table-earning thead tr th,
.table-earning tbody tr td {
  font-size: var(--smaller-font-size);
  font-weight: 500;
  white-space: nowrap;
}

.table-earning tbody tr td {
  color: var(--title-color);
}

.table-earning thead tr {
  background: var(--secondery-color);
  color: var(--secondery-color-alt);
  border-radius: 10px;
}

.table-earning thead tr th {
  font-size: var(--small-font-size);
}

.table-earning tbody tr {
  cursor: pointer;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
  background: var(--secondery-color-alt);
}

.table-earning tbody tr:hover {
  background: var(--secondery-color-light);
}

/* ===================== Main ============== */

/* ===================== Main ============== */

/* ===================== Main ============== */

/* ===================== Main ============== */

/* ===================== Main ============== */
