.main-transition {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.main-shadow {
    -webkit-box-shadow: 0 0 5px 0px rgb(0, 0, 0, 0.2);;
    -moz-box-shadow: 0 0 5px 0px rgb(0, 0, 0, 0.2);;
    box-shadow: 0 0 5px 0px rgb(0, 0, 0, 0.2);;
}

.btn-none:focus {
    box-shadow: none;
}

.btn {
    font-size: small;
}