.main-transition,
button,
input {
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
}

.main-shadow {
  -webkit-box-shadow: var(--main-shadow);
  -moz-box-shadow: var(--main-shadow);
  box-shadow: var(--main-shadow);
}

.btn-none:focus {
  box-shadow: none;
}

.btn {
  font-size: small;
}

.btn__primary {
  background-color: var(--primary-color);
  color: var(--primary-color-alt);
  font-size: var(--small-font-size);
}

.btn__primary:focus,
.btn-focus:focus {
  box-shadow: 0 0 0px 2px var(--primary-color-light);
}

.js-dropdown-show {
  opacity: 1 !important;
  transform: scale(1) !important;
  visibility: visible !important;
}

.nice-scroll-bar-height::-webkit-scrollbar {
  height: 7px;
}

.nice-scroll-bar-height::-webkit-scrollbar-thumb {
  background: var(--secondery-color);
  border-radius: 10px;
}

.nice-scroll-bar-height::-webkit-scrollbar-track {
  background: var(--secondery-color-alt);
}
